PORT=5000
MONGO_URI=mongodb://localhost:27017/chatroom
JWT_SECRET=K9@vX7#qL2!mP5$zR8^tB1&cD4*FhJ6!nW3@YpZ0#sL8^Qx2%R

# Cloudinary (get from cloudinary.com dashboard)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Frontend origin for CORS
CLIENT_URL=http://localhost:5173
